/*

STRUTTURA MOBILE SM
HEADER COL12
SECTION   1
COL 1 12 BG GRIGIO CHIARO
COL 2 12 BG GRIGIO SCURO

SECTION 2
COL 1 6 BG BLU
COL 2 6 BG VERDE
COL 3 12 BG ROSSO

SECTION 3
COL 1 6 BG AZZURRO
COL 2 6 BG GIALLO
COL 3 6 BG NERO
COL 4 6 BG GRIGIO 


STRUTTURA PAD MD
HEADER COL12
SECTION   1
COL 1 6 BG GRIGIO CHIARO
COL 2 6 BG GRIGIO SCURO

SECTION 2
COL 1 4 BG BLU
COL 2 4 BG VERDE
COL 3 4 BG ROSSO

SECTION 3
COL 1 3 BG AZZURRO
COL 2 3 BG GIALLO
COL 3 3 BG NERO
COL 4 3 BG GRIGIO 

STRUTTURA DESKTOP LG
HEADER COL12
SECTION   1
COL 1 4 BG GRIGIO CHIARO
COL 2 8 BG GRIGIO SCURO

SECTION 2
COL 1 4 BG BLU
COL 2 4 BG VERDE
COL 3 4 BG ROSSO

SECTION 3
COL 1 3 BG AZZURRO
COL 2 3 BG GIALLO
COL 3 3 BG NERO
COL 4 3 BG GRIGIO 

*/

